@font-face {
  font-family: 'Miniver';
  src: url("../fonts/Miniver.woff2") format("woff2"), url("../fonts/Miniver.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Regular';
  src: url("../fonts/Stolzl-Regular.woff2") format("woff2"), url("../fonts/Stolzl-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Medium';
  src: url("../fonts/Stolzl-Medium.woff2") format("woff2"), url("../fonts/Stolzl-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Bold';
  src: url("../fonts/Stolzl-Bold.woff2") format("woff2"), url("../fonts/Stolzl-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Book';
  src: url("../fonts/Stolzl-Book.woff") format("woff2"), url("../fonts/Stolzl-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

button {
  padding: 0;
  border: none;
}

body {
  font-size: 16px;
  color: #626262;
  font-weight: 400;
  margin: 0;
  font-family: "Stolzl-Book";
  line-height: 1.5;
  background-color: #FAFAFA;
}

.header {
  padding: 30px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.nav__item-btn-mobile {
  display: none;
}

.nav__item-link {
  font-family: "Stolzl-Regular";
  color: #333333;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  display: inline-block;
  position: relative;
}

.nav__item-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #05581C;
  -webkit-transition: width .3s ease;
  transition: width .3s ease;
}

.nav__item-link:hover {
  color: #05581C;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.nav__item-link:hover::after {
  width: 100%;
}

.nav__btn-close {
  display: none;
}

.btn__started {
  padding: 18px 42px;
  font-family: "Stolzl-Bold";
  text-transform: uppercase;
  background-color: #05581C;
  color: #fff;
  font-size: 16px;
  border-radius: 80px;
  width: 200px;
  border: none;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  cursor: pointer;
}

.btn__started:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  opacity: 0.9;
}

@media (max-width: 1024px) {
  .nav {
    position: relative;
    z-index: 3;
  }
  .nav__list {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    z-index: 3333;
    background: linear-gradient(-140deg, #73b578 60%, #ad95c300);
    -webkit-transition: opacity 0.4s ease-in;
    transition: opacity 0.4s ease-in;
  }
  .nav__list.open {
    opacity: 1;
    pointer-events: auto;
  }
  .nav__item-link {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .nav__btn-close.open {
    display: block;
    position: fixed;
    top: 50px;
    right: 50px;
    width: 35px;
    background-color: transparent;
    height: 24px;
    border: none;
    z-index: 7777;
    cursor: pointer;
  }
  .nav__btn-close.open::before, .nav__btn-close.open::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #333;
    left: 0;
    top: 50%;
  }
  .nav__btn-close.open::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .nav__btn-close.open::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .burger__menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 36px;
    height: 26px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
  }
  .burger__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #05581C;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
  }
  .burger__menu:hover span:nth-child(1) {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  .burger__menu:hover span:nth-child(3) {
    -webkit-transform: translateY(2px);
            transform: translateY(2px);
  }
}

@media (max-width: 768px) {
  .nav__btn-close.open {
    right: 20px;
  }
  .nav__btn-close.open::after, .nav__btn-close.open::before {
    width: 60%;
  }
}

@media (max-width: 600px) {
  .header .btn__started {
    display: none;
  }
  .nav__item-btn-mobile {
    display: block;
  }
  .btn__started-mobile {
    display: block;
    width: 200px;
    height: auto;
    background-color: #05581C;
    color: #fff;
    border-radius: 80px;
    text-align: center;
    font-family: "Stolzl-Bold";
    padding: 22px 24px;
    cursor: pointer;
    font-size: 18px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .btn__started-mobile:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0.9;
  }
  .nav__item-link {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .header__logo img {
    max-width: 90%;
  }
  .nav__item-link {
    font-size: 18px;
  }
  .nav__btn-close {
    top: 20px;
    right: 20px;
    width: 22px;
    height: 22px;
  }
}

.footer {
  background-color: #E0F0DA4D;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
  gap: 40px;
}

.footer__logobox {
  max-width: 315px;
}

.footer__logobox img {
  margin-bottom: 20px;
}

.footer__logobox-text {
  color: #4D6C40;
  line-height: 24px;
  font-size: 14px;
}

.footer__logobox-text a {
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  font-weight: 600;
}

.footer__logobox-text a:hover {
  opacity: 0.7;
}

.footer__contacts-title {
  font-family: "Stolzl-Medium";
  font-weight: 500;
  font-size: 20px;
  color: #333333;
  line-height: 28px;
  margin-bottom: 25px;
}

.footer__contacts-item {
  max-width: 315px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.footer__contacts-item span,
.footer__contacts-item a {
  font-size: 18px;
  color: #333333;
  font-family: "Stolzl-Regular";
}

.footer__contacts-item span:hover,
.footer__contacts-item a:hover {
  opacity: 0.8;
}

.footer__nav-title {
  font-family: "Stolzl-Medium";
  font-weight: 500;
  font-size: 20px;
  color: #333333;
  line-height: 28px;
  margin-bottom: 25px;
}

.footer__links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px 0;
}

.footer__links-item a {
  color: #333333;
  font-family: "Stolzl-Regular";
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: inline-block;
  position: relative;
}

.footer__links-item a::after {
  content: '';
  position: absolute;
  width: 0;
  left: 0;
  bottom: -2px;
  height: 1px;
  background-color: #333333;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.footer__links-item a:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.footer__links-item a:hover::after {
  width: 100%;
}

.footer__bottom {
  background-color: #195A00;
  padding: 22px 0;
  position: relative;
}

.footer__bottom p {
  color: #fff;
}

.footer__bottom a {
  color: #fff;
  text-decoration: underline;
}

.footer__bottom a:hover {
  opacity: 0.7;
}

.footer__bottom-sheaf {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1660px) {
  .footer__bottom-sheaf {
    width: 155px;
  }
}

@media (max-width: 1024px) {
  .footer__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .footer__inner {
    padding: 40px 0;
    gap: 10px;
  }
}

@media (max-width: 680px) {
  .footer__nav-title {
    font-size: 18px;
  }
  .footer__links-item {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .footer__inner {
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: self-start;
        -ms-flex-align: self-start;
            align-items: self-start;
  }
  .footer__bottom-sheaf {
    width: 100px;
  }
  .footer__contacts-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .footer__contacts-item span,
  .footer__contacts-item a {
    font-size: 14px;
  }
  .footer__bottom p {
    font-size: 14px;
  }
}

.qualify {
  padding: 130px 0 90px;
}

.qualify .container {
  max-width: 1200px;
}

.qualify__head {
  text-align: center;
  margin-bottom: 70px;
}

.qualify__head-subtitle {
  font-size: 18px;
  color: #757575;
  font-family: "Stolzl-Medium";
  margin-bottom: 35px;
}

.qualify__head-title {
  font-size: 36px;
  font-family: "Stolzl-Bold";
  color: #333;
}

.qualify__questions {
  margin-bottom: 65px;
}

.qualify__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  margin-bottom: 27px;
}

.qualify__item img {
  background-color: #3f644a;
  border-radius: 8px;
  width: 28px;
  height: 28px;
  max-width: 100%;
}

.qualify__item:last-child {
  margin-bottom: 0;
}

.qualify__text {
  font-size: 18px;
  color: #4F4F4F;
  line-height: 28px;
  font-family: "Stolzl-Medium";
}

.qualify__note {
  margin-bottom: 60px;
}

.qualify__note p {
  font-family: "Stolzl-Medium";
  font-size: 18px;
  text-align: center;
  color: #333333;
}

.qualify__note span {
  display: block;
}

.qualify__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.qualify__card {
  border-radius: 10px;
  background-color: #fff;
  max-width: 520px;
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  padding: 32px 15px 30px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.qualify__card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px 0;
}

.qualify__card-content a {
  color: #05581C;
  font-family: "Stolzl-Medium";
  text-decoration: underline;
  display: inline-block;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.qualify__card-content a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  text-decoration: none;
}

.qualify__card-title {
  font-family: "Stolzl-Bold";
  font-size: 18px;
  color: #363333;
  display: block;
  max-width: 280px;
}

.qualify__card-text {
  color: #666666;
  line-height: 24px;
}

.qualify__card-img {
  max-width: 100%;
  margin-top: 25px;
}

.serve {
  padding: 110px 0 63px;
  background-color: #E0F0DA4D;
}

.serve__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
  position: relative;
}

.serve__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 805px;
}

.serve__content-title {
  font-family: "Stolzl-Bold";
  font-size: 36px;
  color: #333333;
  margin-bottom: 30px;
}

.serve__content-text {
  color: #586F5E;
  font-size: 18px;
  font-family: "Stolzl-Medium";
  margin-bottom: 40px;
}

.serve__content-descr {
  color: #565656;
  font-size: 18px;
}

.serve__image {
  max-width: 100%;
  position: absolute;
  right: 0;
  top: -170px;
}

.eligibility {
  padding: 90px 0 120px;
}

.eligibility .container {
  max-width: 1200px;
}

.eligibility__head {
  text-align: center;
  margin-bottom: 40px;
}

.eligibility__head-title {
  font-family: "Stolzl-Bold";
  font-size: 36px;
  color: #333333;
  margin-bottom: 40px;
}

.eligibility__head-text {
  font-size: 18px;
  font-family: "Stolzl-Medium";
  color: #757575;
}

.eligibility__questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 40px 140px;
  margin-bottom: 50px;
}

.eligibility__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.eligibility__item img {
  background-color: #3f644a;
  border-radius: 8px;
  width: 28px;
  height: 28px;
  max-width: 100%;
}

.eligibility__item-text {
  font-family: "Stolzl-Medium";
  font-size: 18px;
  line-height: 28px;
  color: #4F4F4F;
}

.eligibility__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.eligibility__infotext {
  color: #565656;
  line-height: 26px;
  max-width: 980px;
  font-size: 18px;
}

.eligibility__infotext p + p {
  margin-top: 30px;
}

.eligibility__infotext a {
  font-size: 18px;
  font-family: "Stolzl-Medium";
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: inline-block;
}

.eligibility__infotext a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  text-decoration: underline;
}

.agewave {
  padding-bottom: 100px;
}

.agewave__head {
  text-align: center;
  margin-bottom: 60px;
}

.agewave__head-title {
  font-family: "Stolzl-Bold";
  font-size: 36px;
  color: #333333;
  margin-bottom: 40px;
}

.agewave__head-text {
  font-family: "Stolzl-Medium";
  font-size: 18px;
  color: #757575;
  margin-bottom: 35px;
}

.agewave__head-info {
  color: #565656;
  font-size: 18px;
}

.agewave__head-info p + p {
  margin-top: 20px;
}

.agewave__head-info a {
  font-size: 18px;
  font-family: "Stolzl-Medium";
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: inline-block;
}

.agewave__head-info a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  text-decoration: underline;
}

.agewave__eligibility {
  margin-bottom: 60px;
}

.agewave__eligibility-title {
  font-size: 18px;
  line-height: 28px;
  color: #4F4F4F;
  font-family: "Stolzl-Medium";
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.agewave__eligibility-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px 0;
}

.agewave__eligibility-item {
  color: #565656;
  list-style-type: disc;
}

.agewave__services-title {
  font-size: 18px;
  line-height: 28px;
  color: #4F4F4F;
  font-family: "Stolzl-Medium";
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.agewave__services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px 0;
}

.agewave__services-item {
  color: #565656;
  list-style-type: disc;
}

.agewave__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  margin-bottom: 55px;
}

.agewave__item {
  text-align: center;
}

.agewave__info {
  text-align: center;
  font-size: 18px;
  font-family: "Stolzl-Medium";
  color: #565656;
}

.agewave__info a {
  font-size: 18px;
  font-family: "Stolzl-Medium";
  -webkit-transition: .3s ease;
  transition: .3s ease;
  display: inline-block;
}

.agewave__info a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  text-decoration: underline;
}

.whyus {
  padding: 130px 0 160px 0;
  position: relative;
}

.whyus::after {
  content: "";
  position: absolute;
  right: 65px;
  top: 215px;
  width: 888px;
  height: 500px;
  background: url("../images/automob.png") no-repeat right bottom/contain;
  z-index: 5;
}

.whyus__inner {
  padding: 85px 0 83px 130px;
  background-color: #F8FFF5;
  border-radius: 30px;
  z-index: 2;
}

.whyus__content {
  max-width: 530px;
}

.whyus__subtitle {
  font-family: "Miniver";
  font-size: 24px;
  line-height: 26px;
  color: #05581C;
  position: relative;
  margin-bottom: 15px;
}

.whyus__subtitle::after {
  content: '';
  width: 34px;
  position: absolute;
  bottom: 8px;
  left: 165px;
  height: 1.3px;
  background-color: #05581C;
}

.whyus__title {
  color: #333333;
  font-family: "Stolzl-Medium";
  font-weight: 500;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 30px;
}

.whyus__text {
  color: #828282;
  line-height: 24px;
  margin-bottom: 30px;
}

@media (max-width: 1024px) {
  .qualify {
    padding-top: 70px;
  }
  .qualify__cards {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .qualify {
    padding-top: 40px;
  }
  .qualify__head {
    margin-bottom: 40px;
  }
  .qualify__head-title {
    font-size: 32px;
  }
  .qualify__questions {
    margin-bottom: 40px;
  }
  .qualify__cards {
    gap: 20px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .qualify__head-subtitle {
    font-size: 16px;
  }
  .qualify__head-title {
    font-size: 26px;
  }
  .qualify__questions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .qualify__item:last-child img {
    display: block;
    margin-bottom: 20px;
  }
  .qualify__text {
    font-size: 16px;
  }
  .qualify__note {
    margin-bottom: 30px;
  }
  .qualify__note p {
    font-size: 16px;
  }
  .qualify__card-title {
    font-size: 16px;
  }
  .qualify__card-text {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .qualify {
    padding-bottom: 50px;
  }
  .qualify__head-subtitle {
    font-size: 14px;
  }
  .qualify__head-title {
    font-size: 22px;
  }
  .qualify__cards {
    gap: 10px;
  }
}

@media (max-width: 1240px) {
  .serve__content {
    position: relative;
    z-index: 50;
  }
  .serve img {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .serve__content-title {
    font-size: 32px;
  }
  .serve__content-descr {
    color: #333;
    text-indent: 30px;
  }
  .serve__content-text {
    text-indent: 30px;
  }
  .serve img {
    opacity: 0.4;
  }
}

@media (max-width: 600px) {
  .serve__content-title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
  }
  .serve img {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .serve {
    padding-bottom: 0;
  }
  .serve__content-title {
    font-size: 22px;
  }
  .serve__content-text {
    font-size: 16px;
  }
  .serve__content-descr {
    font-size: 14px;
  }
}

@media (max-width: 1024px) {
  .eligibility__questions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px 0;
  }
}

@media (max-width: 768px) {
  .eligibility {
    padding-top: 40px;
  }
}

@media (max-width: 600px) {
  .eligibility {
    padding-bottom: 60px;
  }
  .eligibility__head-title {
    font-size: 26px;
  }
  .eligibility__head-text {
    font-size: 16px;
  }
  .eligibility__item-text {
    font-size: 16px;
  }
  .eligibility__infotext {
    font-size: 16px;
  }
  .eligibility__infotext a {
    font-size: 16px;
  }
  .eligibility__questions {
    gap: 20px 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .eligibility__head {
    margin-bottom: 20px;
  }
  .eligibility__head-title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .eligibility__head-text {
    font-size: 14px;
  }
  .eligibility__questions {
    gap: 10px;
  }
  .eligibility__infotext {
    font-size: 14px;
  }
  .eligibility__item:last-child img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}

@media (max-width: 1024px) {
  .agewave {
    padding-bottom: 0;
  }
  .agewave__eligibility-item, .agewave__services-item {
    list-style-position: inside;
  }
  .agewave__items {
    gap: 0 50px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .agewave__eligibility {
    margin-bottom: 40px;
  }
  .agewave__head {
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .agewave__head-info {
    font-size: 16px;
  }
  .agewave__head-title {
    font-size: 26px;
  }
  .agewave__head-text {
    font-size: 16px;
  }
  .agewave__eligibility-list {
    text-align: center;
  }
  .agewave__info {
    font-size: 16px;
  }
  .agewave__info a {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .agewave__head-text, .agewave__head-info {
    font-size: 14px;
  }
  .agewave__head a {
    font-size: 16px;
  }
  .agewave__eligibility-title, .agewave__services-title {
    font-size: 16px;
  }
  .agewave__eligibility-item, .agewave__services-item {
    font-size: 14px;
  }
  .agewave__info {
    font-size: 14px;
  }
  .agewave__items {
    margin-bottom: 30px;
  }
}

@media (max-width: 1750px) {
  .whyus::after {
    background-size: 85%;
  }
}

@media (max-width: 1440px) {
  .whyus::after {
    background-size: 65%;
  }
}

@media (max-width: 1240px) {
  .whyus__content {
    position: relative;
    z-index: 50;
  }
  .whyus::after {
    right: 0;
    top: 30px;
    width: 800px;
    max-width: 100%;
    opacity: 0.3;
  }
}

@media (max-width: 768px) {
  .whyus {
    padding: 50px 0 90px 0;
  }
  .whyus__inner {
    padding: 25px;
  }
  .whyus__subtitle {
    font-size: 18px;
  }
  .whyus__subtitle::after {
    left: 120px;
    width: 15px;
  }
  .whyus__title {
    font-size: 34px;
  }
}

@media (max-width: 600px) {
  .whyus {
    padding-bottom: 0px;
  }
  .whyus::after {
    display: none;
  }
  .whyus__title {
    font-size: 26px;
    margin-bottom: 0;
  }
  .whyus__subtitle {
    font-size: 16px;
  }
  .whyus__subtitle::after {
    left: 100px;
  }
  .whyus__text {
    text-indent: 20px;
  }
}

@media (max-width: 480px) {
  .whyus {
    padding-top: 10px;
  }
  .whyus__text {
    font-size: 14px;
  }
  .whyus__title {
    font-size: 22px;
  }
  .whyus__subtitle {
    font-size: 14px;
  }
}
/*# sourceMappingURL=itworks.css.map */