@font-face {
  font-family: 'Miniver';
  src: url('../fonts/Miniver.woff2') format('woff2'),
  url('../fonts/Miniver.woff') format('woff');
    font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Regular';
  src: url('../fonts/Stolzl-Regular.woff2') format('woff2'),
  url('../fonts/Stolzl-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Medium';
  src: url('../fonts/Stolzl-Medium.woff2') format('woff2'),
  url('../fonts/Stolzl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Bold';
  src: url('../fonts/Stolzl-Bold.woff2') format('woff2'),
  url('../fonts/Stolzl-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Book';
  src: url('../fonts/Stolzl-Book.woff') format('woff2'),
  url('../fonts/Stolzl-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}