.footer {
  background-color: #E0F0DA4D;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
    gap: 40px;
  }
  &__logobox {
    max-width: 315px;
    img {
      margin-bottom: 20px;
    }
    &-text {
      color: #4D6C40;
      line-height: 24px;
      font-size: 14px;
      a {
        font-size: 14px;
        line-height: 24px;
        text-decoration: underline;
        font-weight: 600;
        &:hover {
        opacity: 0.7;
        }
      }
    }
  }
  &__contacts {
    &-title {
      font-family: $font-medium;
      font-weight: 500;
      font-size: 20px;
      color: #333333;
      line-height: 28px;
      margin-bottom: 25px;
    }
    &-item {
      max-width: 315px;
      display: flex;
      gap: 10px;
      align-items: center;
      margin-bottom: 15px;
      span,
      a {
        font-size: 18px;
        color: #333333;
        font-family: $font-accent;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
  &__nav {
    &-title {
      font-family: $font-medium;
      font-weight: 500;
      font-size: 20px;
      color: #333333;
      line-height: 28px;
      margin-bottom: 25px;
    }
  }
  &__links {
    &-list {
      display: flex;
      flex-direction: column;
      gap: 15px 0;
    }
    &-item {
      a {
        color: #333333;
        font-family: $font-accent;
        transition: .3s ease;
        display: inline-block;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          width: 0;
          left: 0;
          bottom: -2px;
          height: 1px;
          background-color: #333333;
          transition: .3s ease;
        }
        &:hover {
          transform: translateY(-3px);
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
  &__bottom {
    background-color: #195A00;
    padding: 22px 0;
    position: relative;
    p {
      color: #fff;
    }
    a {
      color: #fff;
      text-decoration: underline;
      &:hover {
        opacity: 0.7;
      }
    }
    &-sheaf {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}



//footer responsive

@media (max-width: 1660px) {
  .footer__bottom-sheaf {
    width: 155px;
  }
}

@media (max-width: 1024px) {
  .footer {
    &__inner {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 768px) {
  .footer {
    &__inner {
      padding: 40px 0;
      gap: 10px;
    }
  }
}

@media (max-width: 680px) {
  .footer {
    &__nav {
      &-title {
        font-size: 18px;
      }
    }
    &__links-item {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &__inner {
      justify-content: none;
      align-items: self-start;
    }
    &__bottom-sheaf {
      width: 100px;
    }
    &__contacts {
      &-title {
        font-size: 18px;
        margin-bottom: 10px;
      }
      &-item {
        span,
        a {
          font-size: 14px;
        }
      }
    }
    &__bottom {
    p {
      font-size: 14px;
    }
  }    
  }
}


