.header {
  padding: 30px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.nav {
  &__list {
    display: flex;
    gap: 50px;
  }
  &__item-btn-mobile {
    display: none;
  }
  &__item-link {
    font-family: $font-accent;
    color: #333333;
    transition: .2s ease;
    display: inline-block;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 0;
      height: 2px;
      background-color: $color-green;
      transition: width .3s ease;
    }
    &:hover {
      color: $color-green;
      transform: translateY(-3px);
      &::after {
        width: 100%;
      }
    }
  }
  &__btn-close {
    display: none;
  }
}

.btn__started {
  @include button;
}

//header responsive
@media (max-width: 1024px) {
  .nav {
    position: relative;
    z-index: 3;
    &__list {
      position: fixed;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      padding: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      gap: 5px;
      transform: translate(-50%, -50%);
      opacity: 0;                
      pointer-events: none;      
      z-index: 3333;
      background: linear-gradient(-140deg, #73b578 60%, #ad95c300);
      transition: opacity 0.4s ease-in; 

      &.open {
        opacity: 1;              
        pointer-events: auto;    
      }
    }
  &__item-link {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  &__btn-close {
     &.open {
    display: block;
    position: fixed;
    top: 50px; 
    right: 50px;
    width: 35px;
    background-color: transparent;
    height: 24px;
    border: none;
    z-index: 7777;
    cursor: pointer;
    &::before,
    &::after {
      content: '';
      width: 100%;
      height: 2px;
      position: absolute;
      background-color: #333;
      left: 0;
      top: 50%;
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  } 
 }
}
   .burger__menu {
    order: 2;
    width: 36px;
    background-color: transparent;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    span {
      display: block;
      width: 100%;
      height: 2px;
      background-color: $color-green;
      transition: transform .3s ease;
    }
      &:hover {
        span:nth-child(1) {
          transform: translateY(-2px);
        }  
        span:nth-child(3) {
          transform: translateY(2px);
        }
    }
  }
}

@media (max-width: 768px) {
 .nav__btn-close {
  &.open {
    right: 20px;
    &::after,
    &::before {
      width: 60%;
    }
  }
 }
}

@media (max-width: 600px) {
  .header .btn__started {
    display: none; 
  }
  .nav__item-btn-mobile {
    display: block;
   }
  .btn__started-mobile{
    display: block;
    width: 200px;
    height: auto;
    background-color: $color-green;
    color: #fff;
    border-radius: 80px;
    text-align: center;
    font-family: $font-bold;
    padding: 22px 24px;
    cursor: pointer;
    font-size: 18px;
    transition: .3s ease;

    &:hover {
      transform: scale(1.05);
      opacity: 0.9;
    }
  }
    .nav__item-link {
    font-size: 24px;
  }
}


@media (max-width: 480px) {
  .header__logo {
    img {
      max-width: 90%;
    }
  }
  .nav__item-link {
    font-size: 18px;
  }
  .nav__btn-close {
    top: 20px;
    right: 20px;
    width: 22px;
    height: 22px;
  }
}
