$font-accent: 'Stolzl-Regular';
$font-medium: 'Stolzl-Medium';
$font-book: 'Stolzl-Book';
$font-bold: 'Stolzl-Bold';
$font-min: 'Miniver';


$font-small: 16px;
$font-base: 18px;

$color-descr: #565656;
$color-green: #05581C;