@import 'style';


.contacts {
  &__inner {
    padding-bottom: 140px;
  }
  &__title {
    font-size: 48px;
    font-family: $font-bold;
    text-align: center;
    color: #333333;
    margin-bottom: 60px;
  }
  &__items {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 120px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    max-width: 320px;
    &:nth-child(2) {
      flex-direction: column;
    }
    span,
    a,
    p {
      color: #333333;
      font-size: 22px;
      line-height: 32px;
      font-family: $font-accent;
    }
    &-mail {
      display: flex;
      justify-content: space-between;
      gap: 5px;
      margin-top: 30px;
    }
  }
}

.started {
  &__head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 75px;
    &-title {
      font-size: 48px;
      font-family: $font-bold;
      color: #333333;
      margin-bottom: 40px;
    }
    &-text {
      text-align: center;
      color: #757575;
      font-size: 18px;
      font-family: $font-medium;
      max-width: 670px;
    }
  }
  &__form {
    margin-bottom: 65px;
    display: flex;
    justify-content: space-between;
    gap: 35px;
    &-item {
      display: flex;
      flex: 1 1 100%;
      flex-direction: column;
      gap: 20px;
    }
    label {
     font-size: 15px;
     color: #757575;
     font-family: $font-accent;
     span {
     color: #FF3B3B;
    }
  }
    input {
    border-radius: 10px;
    border: 1px solid #B5D2BD;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    font-size: 18px;
    font-family: $font-book;
    transition: .3s ease;
    &:focus {
      border-color: #4CAF50;
      outline: none;
    }
    }
    select {
    appearance: none;
    cursor: pointer;
    width: 100%;
    height: 80px;
    border-radius: 10px;
    padding: 0 25px;
    border: 1px solid #B5D2BD;
    color: #757575;
    font-family: $font-accent;
    font-size: 16px;
    outline: none;
    transition: .2s ease;
    &:hover {
      background-color: #B5D2BD;
    }
    }
    &-comments {
      display: flex;
      flex-direction: column;
      label {
        font-size: 15px;
        color: #757575;
        font-family: $font-accent;
        margin-bottom: 10px;
      }
      textarea {
        margin-bottom: 30px;
        resize: none;
        width: 100%;
        border: 1px solid #B5D2BD;
        border-radius: 10px;
        min-height: 150px;
        transition: .2s ease;
      &:focus {
        outline: none;
        border-color: #4CAF50;
        padding: 12px 20px;
        font-size: $font-small;
        color: #2F313F;
        font-family: $font-accent;
    }
      }
    }
 }
}
.needs {
  display: flex;
  flex-direction: column;
}

.btn__submit {
  @include button;
}

// responsive 
@media (max-width: 1024px) {
  .contacts {
    &__title {
      font-size: 36px;
    }
    &__items {
      flex-wrap: wrap;
      span,
      p,
      a {
        font-size: 18px;
      }
    }
  }
 .started {
  &__head {
    &-title {
      font-size: 36px;
    }
  }
} 
}


@media (max-width:930px) {
  .started {
    &__form {
      flex-wrap: wrap;
    }
  }
}

@media (max-width:768px) {
  .contacts {
    &__inner {
      padding-bottom: 30px;
    }
    &__title {
      font-size: 28px;
      margin-bottom: 30px;
    }
    &__items {
      flex-direction: column;
      align-items: center;
      margin-bottom: 70px;
      span,
      p,
      a {
        font-size: 16px;
        text-align: center;
        line-height: 1.5;
      }
    }
    &__item {
      img {
        align-self: flex-start;
        width: 24px;
        height: auto;
      }
      &-mail {
        margin: 0;
      }
    }
  }
  .started {
  &__head {
    margin-bottom: 40px;
    &-title {
      font-size: 28px;
      margin-bottom: 20px;
    }
    &-text {
      font-size: 16px;
    }
  }
  &__form {
    gap: 20px;
    margin-bottom: 30px;
    input {
      height: 50px;
    }
    &-comments {
      button {
        align-self: center;
      }
    }
  }
}
}

@media (max-width:480px) {
  .contacts {
    &__title {
      font-size: 24px;
    }
    &__items {
      span,
      p,
      a {
        font-size: 14px;
      }
    }
  }
  .started {
    &__head {
      &-title {
        font-size: 24px;
      }
      &-text {
      font-size: 14px;
      }      
    }
    &__form {
      gap: 10px;
    &-item {
      gap: 10px;
    }
  }
  }
}