@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'global';
@import 'header';
@import 'footer';

// qualify section

.qualify {
  padding: 130px 0 90px;
  .container {
    max-width: 1200px;
  }
  &__head {
    text-align: center;
    margin-bottom: 70px;
    &-subtitle {
      font-size: 18px;
      color: #757575;
      font-family: $font-medium;
      margin-bottom: 35px;
    }
    &-title {
      font-size: 36px;
      font-family: $font-bold;
      color: #333;
    }
  }
  &__questions {
    margin-bottom: 65px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 27px;
    img {
      background-color: #3f644a;
      border-radius: 8px;
      width: 28px;
      height: 28px;
      max-width: 100%;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__text {
    font-size: 18px;
    color: #4F4F4F;
    line-height: 28px;
    font-family: $font-medium;
  }
  &__note {
    margin-bottom: 60px;
    p {
      font-family: $font-medium;
      font-size: 18px;
      text-align: center;
      color: #333333;
    }
    span {
      display: block;
    }
  }
  &__cards {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
  &__card {
    border-radius: 10px;
    background-color: #fff;
    max-width: 520px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 32px 15px 30px 35px;
    display: flex;
    gap: 20px;
    &-content {
      display: flex;
      flex-direction: column;
      gap: 20px 0;
      a {
        color: $color-green;
        font-family: $font-medium;
        text-decoration: underline;
        display: inline-block;
        transition: .3s ease;
        &:hover {
          transform: translateY(-2px);
          text-decoration: none;
        }
      }
    }
    &-title {
      font-family: $font-bold;
      font-size: 18px;
      color: #363333;
      display: block;
      max-width: 280px;
    }
    &-text {
      color: #666666;
      line-height: 24px;
    }
    &-img {
      max-width: 100%;
      margin-top: 25px;
    }
  }
}

// Who we serve section

.serve {
  padding: 110px 0 63px;
  background-color: #E0F0DA4D;
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    position: relative;
  }
  &__content {
    display: flex;
    flex-direction: column;
    max-width: 805px;
    &-title {
      font-family: $font-bold;
      font-size: 36px;
      color: #333333;
      margin-bottom: 30px;
    }
    &-text {
      color: #586F5E;
      font-size: 18px;
      font-family: $font-medium;
      margin-bottom: 40px;
    }
    &-descr {
      color: #565656;
      font-size: 18px;
    }
  }
  &__image {
    max-width: 100%;
    position: absolute;
    right: 0;
    top: -170px;
  }
}

// eligibility section

.eligibility {
  padding: 90px 0 120px; 
  .container {
    max-width: 1200px;
  }
  &__head {
    text-align: center;
    margin-bottom: 40px;
    &-title {
      font-family: $font-bold;
      font-size: 36px;
      color: #333333;
      margin-bottom: 40px;
    }
    &-text {
      font-size: 18px;
      font-family: $font-medium;
      color: #757575;
    }
  }
  &__questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 40px 140px;
    margin-bottom: 50px;
  }
  &__item {
    display: flex;
    gap: 15px;
    align-items: center;
    flex: 0 0 auto;
    img {
      background-color: #3f644a;
      border-radius: 8px;
      width: 28px;
      height: 28px;
      max-width: 100%;
    }
    &-text {
      font-family: $font-medium;
      font-size: 18px;
      line-height: 28px;
      color: #4F4F4F;
    }
    &:last-child {
      flex: 1 1 100%;
    }
  }
  &__infotext {
    color: #565656;
    line-height: 26px;
    max-width: 980px;
    font-size: 18px;
    p + p {
      margin-top: 30px;
    }
    a {
      font-size: 18px;
      font-family: $font-medium;
      transition: .3s ease;
      display: inline-block;
      &:hover {
        transform: translateY(-2px);
        text-decoration: underline;
      }
    }
  }
}

// agewave section
  .agewave {
    padding-bottom: 100px;
    &__head {
      text-align: center;
      margin-bottom: 60px;
      &-title {
        font-family: $font-bold;
        font-size: 36px;
        color: #333333;
        margin-bottom: 40px;
      }
      &-text {
        font-family: $font-medium;
        font-size: 18px;
        color: #757575;
        margin-bottom: 35px;
      }
      &-info {
        color: #565656;
        font-size: 18px;
        p + p {
          margin-top: 20px;
        }
        a {
      font-size: 18px;
      font-family: $font-medium;
      transition: .3s ease;
      display: inline-block;
      &:hover {
        transform: translateY(-2px);
        text-decoration: underline;
      }
    }
      }
    }
    &__eligibility {
      margin-bottom: 60px;
      &-title {
        font-size: 18px;
        line-height: 28px;
        color: #4F4F4F;
        font-family: $font-medium;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
      }
      &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px 0;
      }
      &-item {
        color: #565656;
        list-style-type: disc;
      }
    }
    &__services {
      &-title {
        font-size: 18px;
        line-height: 28px;
        color: #4F4F4F;
        font-family: $font-medium;
        font-weight: 500;
        text-align: center;
        margin-bottom: 20px;
      }
      &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px 0;
      }
      &-item {
        color: #565656;
        list-style-type: disc;
      }
    }
    &__items {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 100px;
      margin-bottom: 55px;
    }
    &__item {
      text-align: center;
    }
    &__info {
      text-align: center;
      font-size: 18px;
      font-family: $font-medium;
      color: $color-descr;
      a {
      font-size: 18px;
      font-family: $font-medium;
      transition: .3s ease;
      display: inline-block;
      &:hover {
        transform: translateY(-2px);
        text-decoration: underline;
      }
    }
    }
  }

  // why us section

  .whyus {
  padding: 130px 0 160px 0;
  position: relative;
    &::after {
    content: "";
    position: absolute;
    right: 65px;
    top: 215px;
    width: 888px;
    height: 500px;
    background: url("../images/automob.png") no-repeat right bottom / contain;
    z-index: 5; 
  } 
  &__inner {
    padding: 85px 0 83px 130px;
    background-color: #F8FFF5;
    border-radius: 30px;
    z-index: 2;
  }
  &__content {
    max-width: 530px;
  }
  &__subtitle {
    font-family: $font-min;
    font-size: 24px;
    line-height: 26px;
    color: #05581C;
    position: relative;
    margin-bottom: 15px;
      &::after {
      content: '';
      width: 34px;
      position: absolute;
      bottom: 8px;
      left: 165px;
      height: 1.3px;
      background-color: #05581C;
    }
  }
  &__title {
    color: #333333;
    font-family: $font-medium;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 30px;
  }
  &__text {
    color: #828282;
    line-height: 24px;
    margin-bottom: 30px;
  }
}