@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'global';
@import 'header';
@import 'footer';


// welcome

.welcome {
  position: relative;
  &__image {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
  }
  &__sheaf {
    position: absolute;
    left: 0;
    bottom: -290px;
  }
  &__inner {
    margin: 230px auto 180px;
    text-align: center;
    max-width: 900px;
  }
  &__head {
    margin-bottom: 40px;
    position: relative;
    img {
      position: absolute;
      left: -40px;
      bottom: -60px;
    }
    &-title {
      font-size: 48px;
      line-height: 67px;
      font-family: $font-bold;
      color: #333;
    }
  }
  &__text {
    &-words {
      font-size: 20px;
      color: #626262;
      & + & {
        margin-top: 30px;
      }
    }
  }
}

@media (max-width: 1680px) {
  .welcome {
    &__image {
      z-index: 5;
      opacity: 0.4;
    }
    &__inner {
      position: relative;
      z-index: 10;
    }
  }
}
//hero

.hero {
  position: relative;
  overflow: hidden;
  &__inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__content {
    width: 1100px;
    height: 1100px;
    border-radius: 50%;
    background-color: #F8FFF5;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0;
    left: -80px;
    justify-content: center;
  }
  &__descr {
    margin-bottom: 50px;
  }
  &__title {
    color: $color-green;
    font-size: 58px;
    font-family: $font-bold;
    margin-bottom: 50px;
    span {
    display: block;
    color: #000;
    font-family: $font-accent;
    font-weight: 400;
    }
  }
  &__text {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 45px;
  }
  &__btns {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}

.how__works {
  width: 250px;
  padding: 18px 42px;
  font-family: $font-bold;
  text-transform: uppercase;
  background-color: transparent;
  color: $color-green;
  border-radius: 80px;
  width: 220px;
  border: 2px solid #05581C;
  transition: transform .3s ease;
  cursor: pointer;
   &:hover {
    transform: scale(1.05);
    opacity: 0.9;
   }
}

//about

.about {
  padding: 40px 0 160px 0;
  &__cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 150px;
  }
  &__card {
    max-width: 430px;
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 25px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);

    &-title {
      font-family: $font-bold;
      font-size: 18px;
      margin-bottom: 20px;
    }
    &-text {
      line-height: 24px;
    }
  }
}

//about us

.about__us {
  display: flex;
  &-dish{
    display: block;
    margin-left: auto;
    margin-right: -150px;
    height: auto;
    max-width: 100%;
    width: 800px;
  }
  &-descr {
    position: relative;
    max-width: 620px;
  }
  &-decor {
    position: absolute;
    top: -90px;
    left: -100px;
  }
  &-title {
    font-size: 48px;
    font-family: $font-bold;
    color: #333;
    margin-bottom: 20px;
  }
  &-text {
    font-size: 20px;
    line-height: 32px;
    & + & {
      margin-top: 40px;
    }
  }
}

.read__more {
  display: inline-block;
  width: 200px;
  font-family: $font-medium;
  color: $color-green;
  background-color: transparent;
  border: 1.5px solid $color-green;
  padding: 21px 26px;
  border-radius: 80px;
  text-align: center;
  margin-top: 30px;
  transition: .3s ease;
    &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }
}

.about__options {
  max-width: 620px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  &-left,
  &-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  &-item {
    display: flex;
    gap: 15px;
    font-size: 18px;
    font-family: $font-medium;
    color: #4F4F4F;
    line-height: 28px;
    img {
      background-color: #3f644a;
      border-radius: 8px;
      width: 28px;
      height: 28px;
    }
  }
}

//choose 

.choose {
  padding-bottom: 150px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
  }
  &__content {
    max-width: 530px;
  }
  &__descr {
    margin-bottom: 30px;
  }
  &__pretitle {
    font-family: $font-min;
    font-size: 24px;
    color: $color-green;
    line-height: 26px;
    margin-bottom: 20px;
    position: relative;
    &::after {
      content: '';
      width: 34px;
      position: absolute;
      bottom: 8px;
      left: 140px;
      height: 1.3px;
      background-color: $color-green;
    }
  }
  &__title {
    font-size: 48px;
    font-family: $font-medium;
    line-height: 56px;
    margin-bottom: 30px;
    color: #333333;
  }
  &__text {
    color: #828282;
    line-height: 24px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    &-item {
      margin-bottom: 15px;
    }
    &-box {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: flex-start;
      background-color: #fff;
      padding: 12px;
      border-radius: 6px;
      max-width: 380px;
      border-left: 4px solid $color-green;
      box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
      img {
        width: 55px;
        height: auto;
        object-fit: contain;
      }
    }
    &-text {
      font-size: 18px;
      font-family: $font-medium;
      color: #4F4F4F;
      line-height: 28px;
    }
  }
}

//nutrition

.nutrition {
  background-image: url(../images/nutrition1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    position: relative;
    padding-bottom: 90px;
  &__leaf {
    position: absolute;
    top: -14%;
    right: 0;
    z-index: 10;
  }
  &__cabbage {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    width: 100%;
    mix-blend-mode: multiply;
  }
  &__inner {
    position: relative;
    z-index: 2;
  }
  &__head{
    padding:90px 0 60px 0;
    text-align: center;
  }
  &__pretitle {
    font-family: $font-min;
    font-size: 34px;
    line-height: 26px;
    color: #A9DDB7;
    margin-bottom: 30px;
  }
  &__title {
    font-family: $font-medium;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #fff;
  }
  &__content {
    background-color: #F8FFF5;
    border-radius: 50px;
    padding: 50px 60px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    gap: 5px;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    &-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    &-text {
      font-size: 20px;
      line-height: 56px;
      color: $color-green;
      font-family: $font-medium;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -90px;
      width: 40px;
      background-color: #C6DDBB;
      height: 2px;
      transform:translateY(-50%) rotate(90deg);
    }
    &:last-child::after {
      display: none;
    }
  }
  &__meals {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
  }
  &__btns {
    display: flex;
    gap: 30px;
  }
}

.meals__descr {
  &-title {
    font-size: 24px;
    line-height: 56px;
    font-family: $font-medium;
    color: #333333;
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin-bottom: 40px;
  }
  &-item {
    list-style-type: disc;
    list-style-position: inside;
    padding-left: 7px;
    line-height: 34px;
    color: #5B5B5B;
  }
}

.show__menu {
  display: block;
  padding: 18px 42px;
  font-family: $font-bold;
  text-transform: uppercase;
  background-color: transparent;
  color: $color-green;
  border-radius: 80px;
  width: 200px;
  text-align: center;
  border: 1px solid $color-green;
  transition: transform .3s ease;
  cursor: pointer;
   &:hover {
    transform: scale(1.05);
    opacity: 0.9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
   }
}

//banner 

.banner {
  background-image: url(../images/salat-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  min-height: 566px;
  position: relative;
  &__content {
    position: absolute;
    max-width: 550px;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 0;
    transform: translate(-50%, 90%);
  }
  &__title {
    font-size: 54px;
    line-height: 56px;
    color: #fff;
    font-family: $font-bold;
    margin-bottom: 50px;
    span {
      color: #1AC94B;
    }
  }
  &__btn {
    padding: 24px 41px;
    font-family: $font-bold;
    color: #fff;
    font-size: 18px;
    background-color:#1AC94B;
    border-radius: 80px;
    max-width: 270px;
    cursor: pointer;
    transition: .3s ease;
    &:hover {
      transform: scale(1.05);
      opacity: 0.9;
      box-shadow: 0 12px 15px rgba(255, 255, 255, 0.15);
    }
  }
}

//who we serve

.whoserve {
  padding: 130px 0 160px 0;
  position: relative;
    &::after {
    content: "";
    position: absolute;
    right: 65px;
    top: 150px;
    width: 888px;
    height: 500px;
    background: url("../images/automob.png") no-repeat right bottom / contain;
    z-index: 5; 
  } 
  &__inner {
    padding: 85px 0 83px 130px;
    background-color: #F8FFF5;
    border-radius: 30px;
    z-index: 2;
  }
  &__content {
    max-width: 530px;
  }
  &__subtitle {
    font-family: $font-min;
    font-size: 24px;
    line-height: 26px;
    color: $color-green;
    position: relative;
    margin-bottom: 15px;
      &::after {
      content: '';
      width: 34px;
      position: absolute;
      bottom: 8px;
      left: 165px;
      height: 1.3px;
      background-color: $color-green;
    }
  }
  &__title {
    color: #333333;
    font-family: $font-medium;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 30px;
  }
  &__descr {
    color: #828282;
    line-height: 24px;
    margin-bottom: 30px;
  }
  &__work {
    display: flex;
    gap: 25px;
    justify-content: flex-start;
    img {
      width: 36px;
      height: 36px;
    }
    &-time,
    &-phone {
      display: flex;
      gap: 12px;
      align-items: center;
    }
    &-text,
    &-link {
      font-family: $font-medium;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      color: #333333;
    }
  }
}

// hero 

@media (max-width:1700px) {
  .hero {
    &__content {
      max-width: 57%;
      transform: translateX(5%);
      left: 0;
    }
    &__descr {
      margin: 0 auto;
      overflow-wrap: break-word;
      max-width: 650px;
    }
  }
}

@media (max-width:1440px) {
  .hero {
    &__inner {
      position: relative;
    }
    &__content {
      position: absolute;
      top: 160px;
      left: 0;
      width: 750px;
      height: 660px;
      max-width: 100%;
    }
    &__descr {
      max-width: 580px;
    }
    &__btns {
      gap: 10px;
    }
    &__text {
      font-size: 22px;
  }
 }
}

@media (max-width:1024px) {
  .hero {
    &__content {
      width: 500px;
      height: 500px;
      max-width: 100%;
      top: 200px;
    }
    &__title {
      font-size: 32px;
    }
    &__text {
      margin-bottom: 15px;
      font-size: 20px;
    }
    &__btns {
      gap: 5px;
      margin: 0 auto;
      align-items: normal;
    }
  }
  .how__works {
    padding: 10px 28px;
    width: 125px;
  }
  .hero .btn__started {
    padding: 10px 28px;
    width: 125px;
  }
}

@media (max-width: 768px) {
  .hero {
    &__inner {
      justify-content: center;
    }
    &__content {
      position: absolute;
      top: 0;
      left: -30px;
      max-width: 250px;
      height: 100%;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    &__btns {
      flex-direction: column;
      gap: 25px;
    }
  }
    .hero .btn__started {
      padding: 10px 28px;
      width: 100%;
  }
    .how__works {
    padding: 10px 28px;
    width: 100%;
  }
  &__text {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .hero {
    &__inner {
      justify-content: center; 
      align-items: center;
    }
    &__content {
      position: absolute;
      top: 0;
      left: 50%;              
      transform: translateX(-50%); 
      width: 100%;
      max-width: 480px;
      height: 100%;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}


// about responsive

@media (max-width: 1440px) {
  .about {
    &__us {
      position: relative;
      margin-bottom: 60px;
    }
    &__cards {
      gap: 5px;
    }
    &__us-dish {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      max-width: 650px;
      margin: 0;
    }
  }
}

@media (max-width: 1220px) {
  .about__us-dish {
    max-width: 370px;
  }
}

@media (max-width: 1024px) {
  .welcome__inner {
    margin-top: 130px;
  }
  .about {
    padding: 40px 0 30px 0;
    &__us-dish {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      z-index: 1;
      max-width: 500px;
      opacity: 0.3;
    }
    &__us-descr {
      z-index: 10;
      max-width: 100%;
    }
    &__us-text {
      color: #000;
    }
  }
}

@media (max-width: 768px) {
  .welcome {
    &__inner {
      padding: 0 15px;
    }
    &__head {
      &-title {
        font-size: 36px;
      }
    }
    &__text-words {
      font-size: 18px;
      text-align: justify;
      text-indent: 30px;
    }
    &__sheaf {
      max-width: 30%;
    }
  }
}

@media (max-width: 600px) {
  .welcome {
    &__head {
      margin-bottom: 15px;
      &-title {
        font-size: 28px;
      }
    }
    &__image {
      opacity: 0.3;
    }
    &__inner {
      margin-top: 90px;
    }
    &__head {
      img {
        left: -100px;
      }
    }
     &__text-words {
      font-size: 18px;
    }
    &__sheaf {
      bottom: -230px;
    }
  }
}

@media (max-width: 480px) {
  .welcome {
    &__head {
      img {
        max-width: 50%;
        left: -90px;
        bottom: -40px;
      }
      &-title {
        font-size: 24px;
        line-height: 1.5;
      }
    }
    &__text-words {
      font-size: 16px;
    }
     &__sheaf {
      bottom: -210px;
    }
  }
}
  .about {
    padding: 30px 0;
    &__cards {
      flex-wrap: wrap;
      padding-bottom: 100px;
    }
    &__card {
      max-width: 100%;
      flex: 1 1 100%;
      gap: 20px;
      padding: 16px 16px;
    }
  }

@media (max-width: 600px) {
  .about {
    &__options-item {
      font-size: 16px;
      gap: 10px;
    }
    &__us {
      &-title {
        font-size: 26px;
      }
      &-text {
        font-size: 16px;
      }
    }
  }
}

//choose responsive
@media (max-width: 1024px) {
  .choose {
    &__inner {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }
    &__info {
      align-items: center;
    }
    &__info-box {
      width: 350px;
      max-width: 100%;
    }
    &__content {
      max-width: 100%;
      text-align: center;
    }
    &__pretitle {
      font-size: 20px;
      line-height: 22px;

    &::after {
        left: 60%;
        transform: translateX(-50%);
        width: 30px;
        bottom: 6px;
      }
    }
    &__image {
      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .choose {
    padding-bottom: 20px;
     &__pretitle {
      font-size: 20px;
      line-height: 22px;
      &::after {
        left: 63%;
        transform: translateX(-50%);
        width: 30px;
        bottom: 6px;
      }
    }
    &__title {
      font-size: 32px;
    }
    &__info-text {
      font-size: 16px;
    }
  }
}

@media (max-width: 480px) {
  .choose {
    &__text {
      font-size: 14px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__info {
      &-box {
        width: 270px;
      }
      &-text {
      font-size: 14px;
      }
    }
  }
}

//nutrition responsive

@media (max-width: 1240px) {
  .nutrition {
    &__btns {
      justify-content: flex-end;
      flex-wrap: wrap;
    }
    &__meals-img {
      img {
        width: 100%;
      }
    }
    &__leaf {
      top: -9%;
      max-width: 300px;
    }
    &__item {
      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: 1024px) {
  .nutrition {
    &__meals {
      flex-direction: column;
    }
    &__leaf {
      max-width: 220px;
      top: -6%;
    }
  }
}

@media (max-width: 768px) {
  .nutrition {
    padding-bottom: 10px;
    &__cabbage {
      display: none;
    }
    &__pretitle {
      font-size: 24px;
      margin-bottom: 10px;
    }
    &__title {
      font-size: 32px;
    }
    &__list {
      justify-content: center;
      gap: 5px 10px;
    }
    &__content {
      padding: 15px 20px;
    }
    &__btns {
      justify-content: center;
    }
    &__item {
      flex: 0 1 calc(33.333% - 20px);
    }
    &__leaf {
      max-width: 170px;
      top: -2%;
    }
  }
}


@media (max-width: 480px) {
  .nutrition {
    &__head {
      padding: 140px 0 20px 0;
    }
    &__leaf {
      max-width: 115px;
      top: 0;
    }
    &__list {
      gap: 5px 10px;
    }
    &__item {
      flex: 0 1 calc(50% - 15px);
    }
  }
   .meals__descr {
    &-title {
      font-size: 18px;
    }
    &-item {
      font-size: 14px;
    }
  } 
}

@media (max-width: 420px) {
  .nutrition__list {
    flex-direction: column;
  }
}

//banner 

@media (max-width: 1440px) {
  .banner {
      background-position: 80% center;
  }
}

@media (max-width: 1240px) {
  .banner {
    background-position: center right;
     &__content {
    transform: translate(-40%,90%);
  }
  }
} 

@media (max-width: 1024px) {
  .banner {
   &__content {
    transform: translate(-30%,90%);
  }
  }
}

@media (max-width: 768px) {
  .banner {
    background-position: 90% center;
    &__content {
      transform: none;
      top: 30%;
      left: 10%;
    }
    &__title {
      font-size: 40px;
    }
  }
}

@media (max-width: 480px) {
  .banner__title {
    font-size: 32px;
  }
}

// who we serve responsive

@media (max-width: 1750px) {
  .whoserve::after {
    background-size: 85%;
  }
}

@media (max-width: 1440px) {
  .whoserve::after {
    background-size: 65%;
  }
}

@media (max-width: 1240px) {
  .whoserve {
    padding: 30px 0;
    &__content {
      position: relative;
      z-index: 50;
    }
    &::after {
      right: 0;
      top: 30px;
      width: 800px;
      max-width: 100%;
      opacity: 0.3;
    }
    &__descr {
      color: #000;
    }
  }
}

@media (max-width: 768px) {
  .whoserve {
    &__inner {
      padding: 25px;
    }
    &__subtitle {
      font-size: 18px;
      &::after {
        left: 120px;
        width: 15px;
      }
    }
    &__title {
      font-size: 34px;
    }
  }
}

@media (max-width: 600px) {
  .whoserve {
    padding-bottom: 0px;
    &::after {
      display: none;
    }
    &__work {
      flex-wrap: wrap;
    }
    &__subtitle {
      font-size: 16px;
      &::after {
        left: 100px;
      }
    }
  }
}
